p {
  margin: 5px;
}

button {
  margin-top: 10px;
}

h2 {
  margin-bottom: 5px;
}

.banner {
  display: flex;
  position: sticky;
  background-color: #3494d3; /* Background color of the banner */
  color: black; /* Text color */
  text-align: center; /* Center align text */
  padding: 20px; /* Padding around the content */
  position: sticky; /* Allows for positioning children elements if needed */
  top: 0;
  margin: 0;
  width: 100vw; /* Make the banner full width */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Optional: adds shadow for better visual */
  box-sizing: border-box;
  z-index: 1000;
  height: 60px;
  border-bottom: 1px solid black;
  gap: 20px;
  align-items: center;
}

.banner a {
  text-align: center; /* Ensure the text inside the links is centered */
}
