#left-banner {
  position: fixed; /* Fixes the banner to the viewport */
  top: 0; /* Aligns it to the top of the viewport */
  left: 0; /* Aligns it to the left of the viewport */
  width: 250px; /* Width of the banner */
  height: 100%; /* Full height of the viewport */
  background-color: var(
    --background-color
  ); /* Background color of the banner */
  color: black; /* Text color */
  padding: 20px; /* Padding inside the banner */
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); Optional shadow for visual effect */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  font-family: sans-serif;
  /* text-align: center; */
  border-right: 1px solid black;
  height: 100vh;
  overflow-y: auto;
}

#body {
  margin-left: 250px;
}

#data {
  height: 500px;
  width: 800px;
}

h3 {
  margin: 0;
}
.button {
  width: 20px;
  border: none;
  background-color: white;
  font-size: 20px;
}
.noteWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: ;
}
