#table-cards {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#table-cards-h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -150px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#card1 p {
  opacity: 0;
}
#card2 p {
  opacity: 0;
}
#card3 p {
  opacity: 0;
}
#card4 p {
  opacity: 0;
}
#card5 p {
  opacity: 0;
}
