* {
  margin: 0;
  padding: 0;
}
body {
  background: #949494;
  /* background: #b1b0b0; */
}

.banner {
  position: sticky;
  background-color: #3498db;
  /* background-color: #353535; */
  color: white; /* Text color */
  text-align: center; /* Center align text */
  padding: 20px; /* Padding around the content */
  position: sticky; /* Allows for positioning children elements if needed */
  top: 0;
  margin: 0;
  width: 100vw; /* Make the banner full width */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Optional: adds shadow for better visual */
  box-sizing: border-box;
  z-index: 1000;
}
.fretboard {
  display: flex;
  flex-direction: column;
  background: #be975b;
  width: 100%;
  height: 300px;
  margin-top: 50px;
}
.string {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.string:before {
  content: "";
  width: 100%;
  height: 10px;
  background: linear-gradient(#eee, #999);
  box-shadow: 76px, 3px, 10px #806233;
  z-index: 1;
  position: absolute;
  top: 22px;
}

.note-fret {
  display: flex;
  flex: 1;
  border-right: 10px solid;
  border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.note-fret:first-child {
  background: #161717;
  min-width: 76px;
  border-right: 12px solid;
  flex-grow: 0;
  flex-shrink: 0;
  border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}

.note-fret:before {
  content: "C";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  background: teal;
  z-index: 2;
  color: #eee;
  opacity: 0;
}

.single-fretmark:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #806233;
  top: 150px;
  transform: translate(o, -50%);
}

.double-fretmark:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #806233;
  top: 58px;
  transform: translate(-140%, 50%);
}

.double-fretmark:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #806233;
  top: 208px;
  transform: translate(-140%, 50%);
}
